{% extends "base.html" %}
{% block title %}Home
{% endblock %}

{% block nav_items %}

{% endblock %}




{% block head %}

<h2 class="fs-3 m-0 fw-bold text-dark text-uppercase border-bottom">Dashboard</h2>

{% endblock %}













{% block content %}

<div class="row my-4">
  <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <div class="card">
          <h5 class="card-header">Pending Loans</h5>
          <div class="card-body">
            <h5 class="card-title">100</h5>
            <p class="card-text">100</p>
            <p class="card-text text-success">100</p>
          </div>
        </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
      <div class="card">
          <h5 class="card-header">Pending Investments</h5>
          <div class="card-body">
            <h5 class="card-title">100</h5>
            <p class="card-text">100</p>
            <p class="card-text text-success">100</p>
          </div>
        </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
      <div class="card">
          <h5 class="card-header">Products</h5>
          <div class="card-body">
            <h5 class="card-title">100</h5>
            <p class="card-text">100</p>
            <p class="card-text text-danger">100</p>
          </div>
        </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
      <div class="card">
          <h5 class="card-header">Users</h5>
          <div class="card-body">
            <h5 class="card-title">100</h5>
            <p class="card-text">100</p>
            <p class="card-text text-success">100</p>
          </div>
        </div>
  </div>
</div>



{% endblock %}