{% extends "base.html" %}
{% block title %}Home
{% endblock %}

{% block nav_items %}

{% endblock %}




{% block head %}

<h2 class="fs-3 m-0 fw-bold text-dark text-uppercase border-bottom">Invest</h2>

{% endblock %}





{% block content %}
    <label class="form-label" for="customFile">Upload passbook</label>
    <input type="file" class="form-control" id="customFile" />
    <br>
    <button type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">Upload</button>
{% endblock %}